:root {
  font-size: 18px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
}

a{
  text-decoration: none;
  color: black;
}

a:visited{
  color: black;
}

.background {
  background-color: hsl(193, 100%, 96%);
  background-image: url(images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 4vh 3vw;
  margin-bottom: 10vh;
}

.logo {
  display: inline-block;
  height: 2.5vh;
}

.logo::after {
  clear: both;
}

.btnup {
  float: right;
  font-size: 0.67rem;
  background: white;
  margin-right: 4vw;
  padding: 5px 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.4);
  background: #ffffff;
  text-decoration: none;
  overflow: hidden;
}
.btnup::after {
  clear: both;
}

.hero {
  display: inline-block;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin: 13vh auto 4vh;
}

.subhero {
  display: inline-block;
  text-align: center;
  padding: 0 1vw;
  margin: 0;
}

.btnm {
  display: inline-block;
  width: 20vw;
  font-size: 0.78rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background: hsl(322, 100%, 66%);
  padding: 12px;
  margin: 5vh auto 8vh;
  border-radius: 55px;
  
}

.mockup {
  float: right;
  width: 65vw;
  display: block;
  margin: 4vh auto 1.8vh;
}